[gcode_macro CANCEL_PRINT]
description: Cancels the print safely
rename_existing: CANCEL_PRINT_BASE
gcode:
    M117 Cancelling print

    # Park like PAUSE
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}

    G91
    {% if "xyz" in printer.toolhead.homed_axes %}
        G1 Z{z_safe} F900
        G90
        G1 X{x_park} Y{y_park} F6000
    {% endif %}

    # Shut down
    TURN_OFF_HEATERS
    M107
    SET_GCODE_VARIABLE MACRO=SET_FAN_SPEED VARIABLE=fan_override VALUE=False
    _CLEAR_FILAMENT_STATE
    BED_MESH_CLEAR
    CLEAR_PAUSE

    # ONLY reset SD if printing from SD
    {% if printer.virtual_sdcard.is_active %}
        SDCARD_RESET_FILE
    {% endif %}

    M84
    M117 Print cancelled
